* {
    background-color:black;
}

h1 {
    color: white; border: 2px dotted tomato;
}

/* Now using paletton and Just color picker to get coordinates: */

h2 { 
    color: rgb(61, 126, 147);
    /* equivalent to color: rgb(23.9%, 49.4%, 57.6%); */ 
}

h3{ 
    color: #450676;
}

h4{ 
    color: rgba(21, 231, 46, 0.25);
}

h5{ 
    color: rgba(21, 231, 46, 0.75)
}

